 /* Split the screen in half */
 .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
/* Control the left side */
.left {
    left: 0;
    background-image: url("Flags.jpeg");
    image-rendering: auto ;
}

  
/* Control the right side */
.right {
    right: 0;
    background-color: rgba(253, 249, 249, 0.728);
    text-align: center;
    margin-top: 20px;

    body {
        font-family: Palatino, sans-serif;
        background-image: linear-gradient(grey, white);
    }

    #title {
        font-family: Palatino, sans-serif;
        color: rgb(48, 47, 47);
        font-weight: body;
        font-size:xx-large;
        font-variant-caps: titling-caps;
    }

    #subTitle {
        font-family: Palatino, sans-serif;
        font-style: italic;
        color: lightslategray;
        font-size: large;
    }

    .welcome-container, .add-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }

    input[type="text"] {
        padding: 0.5em;
        margin-right: 0.5em;
    }   

    button {
        padding: 0.5em 1em;
        background-color: #afadae;
        color: white;
        border: none;
    }
   
    button:hover {
        background-color: #b2d2f6;
    }
    
    #addCountryBox {
        margin-top: 20px;
    }
}
  
/* If you want the content centered horizontally and vertically */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
  
/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
} 